.sidebar{
    width: 25%;
    min-width: 280px;
    border-right: .2px solid rgba(128, 128, 128, 0.557);
}


/* header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 128, 0, 0.119);
    padding: 10px 5px;
    height: 55px
}

.green-text{
    color: rgb(5, 189, 5) !important;
}

.header__title{
    font-size: 16px;
    font-weight: 700;
    color: rgb(58, 126, 245);
}

.header__profile{
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__profile img{
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.header__profile h2{
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;;
}

.header__profile button{
    padding: 5px 7px;
    font-size: 13px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    outline: none;
    border: none;
    background-color: rgb(58, 126, 245);
    cursor: pointer;
    margin-left: 5px;
}


/* search */

.search{
    width: 100%;
    height: 40px;
    border-bottom: .2px solid rgba(128, 128, 128, 0.201);
    position: relative;
}

.search-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 18px;
    height: 18px;
}

.search input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 14px;
    padding-left: 35px;
}

/* contacts */
.contacts{
    height: calc(100% - 55px - 40px);
    overflow-y: scroll;
}

.unread{
    background-color: rgba(128, 128, 128, 0.116);
}

.contacts::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

.contacts::-webkit-scrollbar-thumb {
    background-color: #25252526; /* thumb color */
}

.contacts::-webkit-scrollbar-track {
    background-color: transparent; /* track color */
}

.contact{
    display: flex;
    gap: 10px;
    padding: 7px 10px;
    border-bottom: .2px solid rgba(128, 128, 128, 0.269);
    cursor: pointer;
}

.contact .profile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .profile img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.unread-count{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 4px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(43, 187, 43);
}

.unread-count span{
    font-size: 12px;
    font-weight: 600;
}

.contact .info .username{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .4px;
    word-spacing: 1px;
}

.contact .info .last-msg{
    font-size: 14px;
    color: gray;
    margin-top: 2px;
}

.empty-warning{
    text-align: center;
    padding: 10px;
    color: gray;
    font-size: 14px;
    letter-spacing: .3px;
}

@media screen and (max-width: 600px){
    .hide-on-mobile {
        display: none !important;
    }

    .sidebar{
        min-width: 100%;
    }
    

}