/* chat footer */
.footer{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: rgb(255, 255, 255);
}

.sel-img-wrapper{
    position: absolute;
    bottom: 60px;
    right: 0;
    height: 220px;
    width: 70%;
    background-color: white;
    padding: 10px;
}

.preview-image {
   max-width: 200px;
    min-width: 80%;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.6);
}

.preview-video {
    max-width: 200px;
    min-width: 80%;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.6);
}

.close{
    position: absolute;
    top:15px;
    right: 15px;
    cursor: pointer;
    font-weight: 700;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 2px 4px;
}

.type-box{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    padding-right: 145px;

}

.send-wrapper{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.send-wrapper img{
    width: 20px;
    height: 20px;
}

.send-btn{
    padding: 7px 15px;
    border-radius: 5px;
    background-color: rgb(48, 162, 200);
    color: white;
    letter-spacing: 1px;
    border:none;
    outline: none;
}