/* chat body */
.chat-body{
    position: relative;
    width: 100%;
    height: 91%;
    padding-bottom: 5px;
}

.chats {
    height: calc(100% - 55px);
    overflow-y: scroll;
}

.typing-indicator{
    padding-bottom: 10px;
}

.day-seperator{
    display: flex;
    justify-content: center;
}

.msg-tick{
    height: 15px;
    margin-left: 5px;    
}

.day-seperator span{
    font-size: 12px;
    background-color: rgba(128, 128, 128, 0.333);
    border-radius: 5px;
    color: rgb(71, 71, 71);
    padding: 4px 10px;
    letter-spacing: .6px;
}

.bottom-ref {
   height: 0;
   margin: 0;
   padding: 0;
}

.chats::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

.chats::-webkit-scrollbar-thumb {
    background-color: #25252551; /* thumb color */
}

.chats::-webkit-scrollbar-track {
    background-color: #e3e3e3; /* track color */
}

video{
    height: 200px;
    width: 100%;
    border: 1px solid gray;
}

audio{
    width: 100%;
    border: 1px solid gray;
}

img{
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.doc-media{
    width: 100%;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.276);
}

.msg{
    margin: 5px;
    max-width: 60%;
}

.right{
    display: flex;
    justify-content: flex-end;
}

.msg .text{
    font-size: 15px;
    font-weight: 500;
    background-color: gray;
    padding: 5px 7px;
}

.msg .time{
    font-size: 12px;
    font-weight: 500;
    margin: 3px 5px;
    display: flex;
    align-items: center;
}

.recieved{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.recieved .msg .text{
    border-radius: 5px 5px 5px 0px;
    background-color: rgba(0, 124, 128, 0.646);
    color: white;
}


.sent{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sent .msg .text{
  border-radius: 5px 5px 0 5px;
  background-color: rgba(83, 0, 128, 0.603);
  color: white;
}

.sent .msg .time{
    text-align: right;
}