/* chat body */
.chat-body{
    position: relative;
    width: 100%;
    height: 91%;
    padding-bottom: 5px;
}

.chats {
    height: calc(100% - 55px);
    overflow-y: scroll;
}

.typing-indicator{
    padding-bottom: 10px;
}

.bottom-ref {
   height: 0;
   margin: 0;
   padding: 0;
}

.chats::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

.chats::-webkit-scrollbar-thumb {
    background-color: #25252551; /* thumb color */
}

.chats::-webkit-scrollbar-track {
    background-color: #e3e3e3; /* track color */
}

.msg{
    margin: 5px;
    max-width: 60%;
}

.msg .text{
    font-size: 15px;
    font-weight: 500;
    background-color: gray;
    padding: 5px 7px;
}

.msg .time{
    font-size: 12px;
    font-weight: 500;
    margin: 3px 5px;
}

.recieved{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.recieved .msg .text{
    border-radius: 5px 5px 5px 0px;
    background-color: rgba(0, 124, 128, 0.646);
    color: white;
}


.sent{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sent .msg .text{
  border-radius: 5px 5px 0 5px;
  background-color: rgba(83, 0, 128, 0.603);
  color: white;
}

.sent .msg .time{
    text-align: right;
}