/* header */
.chat-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 55px;
    z-index: 1;
    background-color: rgba(197, 223, 201, 0.507);
    border-bottom: .2px solid rgba(128, 128, 128, 0.16);
}

.chat-header .left h2{
    font-size: 20px;
}

.chat-header .right{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.chat-header .right img{
    width: 22px;
    height: 22px;
}
